@import "../../App.scss";

$gap: 2rem;

#dashboard {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: $gap;

	.dash-col {
		display: flex;
		flex-direction: column;
		gap: $gap;
	}

	.dash-card {
		border: 1px solid $gray;
		padding: 0.5rem 1.5rem;
		border-radius: 8px;

		.dash-section {
			&:not(:first-child) {
				border-width: 1px 0 0;
				border-color: $gray;
				border-style: solid;
				padding: 1rem 0 0.5rem;
			}

			margin: 0.5rem 0;
			padding: 0.5rem 0;

			&-heading {
				@include heading;
				color: $primary;
				font-size: 1.125rem;
				display: flex;
				gap: 0.5rem;
				margin-bottom: 0.5rem;

				svg {
					height: 25px;
				}
			}

			.dash-line {
				display: flex;
				gap: 0.5rem;

				&-label {
					@include heavy;
					color: $secondary;

					&:after {
						content: ":";
					}
				}
			}
		}
	}
}

.team-info {
	padding: 1rem 2rem;
	color: $white;
	span {
		color: $secondary;
		@include heavy;
	}
}
