$primary: #f5fe49;
$secondary: #a5af58;
$black: #000000;
$dark: #15181a;
$gray: #545f66;
$accent: #829399;
$white: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Titillium+Web:wght@200;400;600&display=swap");

$heading: "Righteous", sans-serif;
$base: "Titillium Web", sans-serif;

@mixin heading {
	font-family: $heading;
	font-weight: 400;
}

@mixin heavy {
	font-family: $base;
	font-weight: 600;
}

@mixin base {
	font-family: $base;
	font-weight: 400;
}

@mixin light {
	font-family: $base;
	font-weight: 200;
}

@mixin container {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}

html {
	background-color: $dark;
	color: $white;

	@include base;
}

.main-content {
	@include container;
}

h2 {
	@include heading;
	font-size: 2rem;
	color: $primary;
}

.tab-menu {
	border-bottom: 1px solid $gray;
	margin-bottom: 2rem;

	button {
		background-color: transparent;
		color: $primary;
		@include base;
		border: 1px solid $gray;
		border-radius: 8px 8px 0 0;
		font-size: 1rem;
		padding: 0.25rem 1rem;
		cursor: pointer;

		&.active {
			color: $dark;
			background-color: $primary;
			pointer-events: none;
		}

		&:hover {
			color: $white;
			background-color: $secondary;
		}
	}
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid $primary;
	animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
	inset: 8px;
	transform: rotate3d(90, 90, 0, 180deg );
	border-color: $secondary;
  }

  @keyframes rotate {
	0%   {transform: rotate(0deg)}
	100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
	  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	  75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }
