$primary: #f5fe49;
$secondary: #a5af58;
$black: #000000;
$dark: #15181a;
$gray: #545f66;
$accent: #829399;
$white: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Titillium+Web:wght@200;400;600&display=swap");

$heading: "Righteous", sans-serif;
$base: "Titillium Web", sans-serif;

@mixin heading {
	font-family: $heading;
	font-weight: 400;
}

@mixin heavy {
	font-family: $base;
	font-weight: 600;
}

@mixin base {
	font-family: $base;
	font-weight: 400;
}

@mixin light {
	font-family: $base;
	font-weight: 200;
}

@mixin container {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}

html {
	background-color: $dark;
	color: $white;

	@include base;
}

.main-content {
	@include container;
}

h2 {
	@include heading;
	font-size: 2rem;
	color: $primary;
}

.tab-menu {
	border-bottom: 1px solid $gray;
	margin-bottom: 2rem;

	button {
		background-color: transparent;
		color: $primary;
		@include base;
		border: 1px solid $gray;
		border-radius: 8px 8px 0 0;
		font-size: 1rem;
		padding: 0.25rem 1rem;
		cursor: pointer;

		&.active {
			color: $dark;
			background-color: $primary;
			pointer-events: none;
		}

		&:hover {
			color: $white;
			background-color: $secondary;
		}
	}
}
